In [3]:
import pandas as pd

In [9]:
#Create a reference the CSV file desired
csv_path = "GlobalLandTemperaturesByCountry.csv"

# Read the CSV into a Pandas DataFrame
climateChange_df = pd.read_csv(csv_path)

# Print the first five rows of data to the screen
climateChange_df.head()

           dt  AverageTemperature  AverageTemperatureUncertainty Country
0  1743-11-01               4.384                          2.294   Åland
1  1743-12-01                 NaN                            NaN   Åland
2  1744-01-01                 NaN                            NaN   Åland
3  1744-02-01                 NaN                            NaN   Åland
4  1744-03-01                 NaN                            NaN   Åland

In [22]:
# add column year from dt
climateChange_df['Year']=climateChange_df['dt'].str[:4]
climateChange_df.head()


# only save data from 1990. original data source has data from year 1750 
RecentClimateChange_df = climateChange_df.loc[climateChange_df["Year"] > "1989",:]

#dataframe only for USA
RecentClimateChangeUSA_df = RecentClimateChange_df.loc[RecentClimateChange_df["Country"] == "United States",:]

# get yearly average temp from monthly average temps
grouped_df = RecentClimateChangeUSA_df.groupby(["Country","Year"])
grouped_df.head()

ClimateChangeCountryYearly_df = grouped_df["AverageTemperature"].mean()
ClimateChangeCountryYearly_df.head(300)

Country        Year
United States  1990     9.521583
               1991     9.493667
               1992     9.056333
               1993     8.867250
               1994     9.270333
               1995     9.331000
               1996     8.754333
               1997     9.172917
               1998    10.141167
               1999     9.567000
               2000     9.649750
               2001     9.785583
               2002     9.816167
               2003     9.755083
               2004     9.667500
               2005     9.892667
               2006     9.974500
               2007     9.837500
               2008     8.951417
               2009     9.137083
               2010     9.505583
               2011     9.549917
               2012    10.261083
               2013    11.297111
Name: AverageTemperature, dtype: float64