In [2]:
import pandas as pd
import csv

In [4]:
#Create a reference the CSV file desired
csv_path = "Historical Populations by Country.csv"

# Read the CSV into a Pandas DataFrame
population_df = pd.read_csv(csv_path, encoding = "ISO-8859-1")

# Print the first five rows of data to the screen
population_df.head()

,Country,1985,1990,1995,2000,2005,2010,2015
0,Afghanistan,"13,120,000","13,569,000","19,446,000","22,462,000","26,335,000","29,121,000","32,565,000"
1,Albania,"2,957,000","3,245,000","3,159,000","3,159,000","3,025,000","2,987,000","3,030,000"
2,Algeria,"22,009,000","25,191,000","28,322,000","30,639,000","32,918,000","35,950,000","39,543,000"
3,American Samoa,39000,48000,54000,58000,57000,56000,55000
4,Andorra,45000,53000,64000,66000,77000,85000,86000