In [1]:
import pandas as pd

In [2]:

#Create a reference the CSV file desired
csv_path = "Historical Populations by Country.csv"

# Read the CSV into a Pandas DataFrame
population_df = pd.read_csv(csv_path, encoding = "ISO-8859-1")

# Print the first five rows of data to the screen
population_df.head()

,Country (or dependent territory),1985,1990,1995,2000,2005,2010,2015
0,Afghanistan,"13,120,000","13,569,000","19,446,000","22,462,000","26,335,000","29,121,000","32,565,000"
1,Albania,"2,957,000","3,245,000","3,159,000","3,159,000","3,025,000","2,987,000","3,030,000"
2,Algeria,"22,009,000","25,191,000","28,322,000","30,639,000","32,918,000","35,950,000","39,543,000"
3,American Samoa,39000,48000,54000,58000,57000,56000,55000
4,Andorra,45000,53000,64000,66000,77000,85000,86000

In [3]:
population_df= population_df.drop(population_df.columns[[1,2,3]], axis=1)
population_df.head()

,Country (or dependent territory),2000,2005,2010,2015
0,Afghanistan,"22,462,000","26,335,000","29,121,000","32,565,000"
1,Albania,"3,159,000","3,025,000","2,987,000","3,030,000"
2,Algeria,"30,639,000","32,918,000","35,950,000","39,543,000"
3,American Samoa,58000,57000,56000,55000
4,Andorra,66000,77000,85000,86000

In [4]:
chunk_2000_2005= (pd.to_numeric(population_df["2005"])-pd.to_numeric(population_df["2000"]))/5

pop_2001= population_df["2000"]+chunk_2000_2005
pop_2002= population_df["2000"]+(chunk_2000_2005)*2
pop_2003= population_df["2000"]+(chunk_2000_2005)*3
pop_2004= population_df["2000"]+(chunk_2000_2005)*4

population_df["2001"]= pop_2001.astype(int)
population_df["2002"]= pop_2002.astype(int)
population_df["2003"]= pop_2003.astype(int)
population_df["2004"]= pop_2004.astype(int)

chunk_2005_2010= (pd.to_numeric(population_df["2010"])-pd.to_numeric(population_df["2005"]))/5

pop_2006= population_df["2005"]+chunk_2005_2010
pop_2007= population_df["2005"]+(chunk_2005_2010)*2
pop_2008= population_df["2005"]+(chunk_2005_2010)*3
pop_2009= population_df["2005"]+(chunk_2005_2010)*4

population_df["2006"]= pop_2006.astype(int)
population_df["2007"]= pop_2007.astype(int)
population_df["2008"]= pop_2008.astype(int)
population_df["2009"]= pop_2009.astype(int)


#Add 
chunk_2010_2015= (pd.to_numeric(population_df["2015"])-pd.to_numeric(population_df["2010"]))/5

pop_2011= population_df["2010"]+chunk_2010_2015
pop_2012= population_df["2010"]+(chunk_2010_2015)*2
pop_2013= population_df["2010"]+(chunk_2010_2015)*3

population_df["2011"]= pop_2011.astype(int)
population_df["2012"]= pop_2012.astype(int)
population_df["2013"]= pop_2013.astype(int)

population_df.head()

ValueError: Unable to parse string "26,335,000" at position 0

In [ ]:
grouped_population= population_df.groupby("Country",as_index=False)
grouped_population.head(5)

In [ ]:
melt_population= pd.melt(population_df, id_vars='Country', value_vars=["2000","2005","2010","2015","2001","2002","2003","2004","2006","2007","2008","2009","2011","2012","2013"])
melt_population.head()